html,
body {
  margin: 0 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  display: flexbox;
  justify-content: center;
}

h1,
h2 {
  text-align: center;
}
nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 5px;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 20px 20px;
  margin: 20px;
}

.pictures img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.5);
}
