html,
body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  display: flexbox;
  justify-content: center;
}

header {
  background-color: orange;
  padding-top: 30px;
  padding-bottom: 10px;
}

h1 {
  margin: 0;
  font-size: 4rem;
}

h1,
h2 {
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: black;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 5px;
}

.content {
  margin-top: 50px;
  padding: 0 30px;
}

.picturerow {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 20px 20px;
  margin: 20px;
}

.picturerow img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.5);
}
